
.collapsible {
  position: relative;
  transition-duration: var(--animation-duration);
  transition-property: all;
  overflow: hidden;
  pointer-events: none;
  display: flex;
  justify-content: center;
  left: 0;

  &.expanded {
    overflow: visible;
  }

  > .caption {
    opacity: 0;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: var(--animation-duration);
    transition-property: opacity;
  }

  .content {
    display: flex;
  }

  .animating {
    > :not(.caption) {
      pointer-events: none;

      * {
        pointer-events: none;
      }
    }
  }

  > .content {
    position: absolute;
    transition: opacity var(--animation-duration);
    flex: 1;
  }

  &.animating-collapse {

    .caption {
      opacity: 100%;
    }

    > :not(.caption) {
      opacity: 0%;
    }
  }

  &.animating-expand {
    .caption {
      opacity: 0%;
    }

    > :not(.caption) {
      opacity: 100%;
    }
  }

  &.collapsed {
    cursor: pointer;
    pointer-events: all;

    &:hover {
      filter: brightness(75%);
    }

    .caption {
      opacity: 100%;
    }

    > :not(.caption) {
      opacity: 0%;
      pointer-events: none;

      * {
        pointer-events: none;
      }
    }
  }

}

.restack {
  display: flex;
  align-items: flex-start;
  position: relative;

  &:not(.no-selection) {
    :is(.expanded, .animating-expand) ~ .collapsed {
      transform: translateX(100px);
    }

    .collapsed {
      transform: translateX(-100px);
      //opacity: 0;
      pointer-events: none;
    }
  }
}
