
.splitpane {
  .decorated-container {
    height: 100%;
  }
}

.decorated-container {
  position: relative;
  pointer-events: all;

  > .decoration {
    position: absolute;
    display: flex;
    
    --transformX: 0;
    --transformY: 0;
    
    >.wrapper {

      display: flex;
      position: relative;
      transform: translateX(var(--transformX)) translateY(var(--transformY));
    }
    
    &.direction-column {
      >.wrapper {
        flex-direction: column;
      }
    }

    &.direction-row {
      >.wrapper {
        flex-direction: row;
      }
    }
    
    // -----------------------------------------------
    // Horizontal positioning
    // -----------------------------------------------

    &.positionH-left {
      justify-content: flex-start;
      
      &.anchorH-left {
        // none
      }

      &.anchorH-center {
        >.wrapper {
          --transformX: -50%;
        }
      }
      
      &.anchorH-right {
        >.wrapper {
          --transformX: -100%;
        }
      }
    }
    
    &.positionH-right {
      width: 100%;
      justify-content: flex-end;

      &.anchorH-center {
        >.wrapper {
          --transformX: 50%;
        }
      }
      
      &.anchorH-left {
        >.wrapper {
          --transformX: 100%;
        }
      }
    }

    &.positionH-center {
      width: 100%;
      justify-content: center;

      &.anchorH-left {
        >.wrapper {
          --transformX: 50%;
        }
      }
      
      &.anchorH-right {
        >.wrapper {
          --transformX: -50%;
        }
      }
    }
    

    // -----------------------------------------------
    // Vertical positioning
    // -----------------------------------------------
    
    &.positionV-top {
      align-items: flex-start;
      
      &.anchorV-center {
        >.wrapper {
          --transformY: -50%;
        }
      }
      &.anchorV-bottom {
        >.wrapper {
          --transformY: -100%;
        }
      }
    }
    
    &.positionV-center {
      height: 100%;
      align-items: center;
      
      &.anchorV-top {
        >.wrapper {
          --transformY: 50%;
        }
      }
      
      &.anchorV-bottom {
        >.wrapper {
          --transformY: -50%;
        }
      }
    }
    
    &.positionV-bottom {
      height: 100%;
      align-items: flex-end;

      &.anchorV-center {
        >.wrapper {
          --transformY: 50%;
        }
      }
      
      &.anchorV-top {
        >.wrapper {
          --transformY: 100%;
        }
      }
    }
  }
}

