:root {
  --layer-drawers: 2;
  --drawer-width: 600px;
}

.drawer {
  position: absolute;
  transition: left 0.3s, right 0.3s;
  top: 0;
  bottom: 0;
  width: var(--drawer-width);
  max-width: 100%;
  z-index: var(--layer-drawers);
  pointer-events: all;

  &.left-drawer {

    left: calc(var(--drawer-width) * -1);

    &.visible {
      left: 0;
    }
  }

}
