.messages, .messages {
  display: flex;
  flex-direction: column;

  .entry {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-bottom: 0.6em;

    &.warning {
      .icon {
        color: #ffc107 !important;
      }
    }

    &.error {
      .icon {
        color: #dc3545 !important;
      }
    }

    &.success {
      .icon {
        color: #28a745!important;
      }
    }

    .icon {
      color: #606060;
      margin-right: 6px;
    }

    .message {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-top: calc(var(--gap) / 2);

      p {
        margin-bottom: 0;
      }
    }

    &:not(:first-child) {
      padding-top: 0.6em;
    }


    &:not(:last-child) {
      border-bottom: 1px solid #dadada;
    }

    .date {
      font-size: 0.8em;
      color: #7a7a7a;
    }

    .changes {
      display: flex;
      flex-direction: column;

      >div {
        font-size: 0.9em;

        >p {
          display: inline;
        }
      }

      >div::before {
        margin-right: 0.5em;
        margin-left: 0.5em;
        content: '-';
      }
    }
  }
}