:root {
  --gap: 5px;
  --gap-h: 5px;
  --gap-v: 1px;
  --font-size: 12px;
  --border-radius: 4px;
  --disabled-opacity: 0.45;
  --animation-duration: 0.3s;
}


input:not([disabled]) {
  cursor: pointer;
}

input[disabled] {
  cursor: default;
}

label:not([disabled]) {
  cursor: pointer;
}

label[disabled] {
  cursor: default;
}

input[type="number"] {
  width: 70px;
}

.grid {
  display: grid;
}

.grid-2 {
  grid-template-columns: max-content 1fr;
  height: fit-content;
}

.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}

.gap {
  gap: var(--gap);
}